* {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: $text-black;
	font-family: roboto, sans-serif;
	font-size: 0.875em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 500;
	font-family: roboto-bold, sans-serif;
}

img {
	width: 100%;
}

input {
	color: $text-black;
	font-family: roboto, sans-serif;
}

button {
	color: $text-black;
	font-family: roboto, sans-serif;
	font-size: 1em;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

.el-popover.el-popper {
	padding: 8px 10px !important;
}
