// Flex
.flex {
	display: flex;
	&.column {
		flex-direction: column;
	}
	&.align-center {
		align-items: center;
	}
	&.justify-center {
		justify-content: center;
	}
	&.space-between {
		justify-content: space-between;
	}
	&.space-around {
		justify-content: space-around;
	}
}

.grid {
	display: grid;
}

// Text

.text-center {
	text-align: center;
}

// List
.clean-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
