.app-container {
	grid-template-columns: 66px 254px 1fr;

	body.side-bar-open & {
		grid-template-columns: 66px 29px 1fr;
		.nav-content {
			display: none;
		}
	}

	@include for-narrow-layout {
		grid-template-columns: 1fr;

		grid-template-rows: 66px 1fr;

		.main-nav {
			flex-direction: row;

			.nav-btns {
				flex-direction: row;

				> *:not(.logo-svg) {
					display: none;
				}
			}
		}

		.boards-nav {
			position: fixed;
			top: 0;
			left: 0;
			transform: translateX(-100%);

			.board-toggle-container {
				display: none;
			}
		}
	}
}
