.app-container {
	grid-template-columns: 66px 254px 1fr;

	body.side-bar-open & {
		grid-template-columns: 66px 29px 1fr;
		.nav-content {
			display: none;
		}

		@include for-narrow-layout {
			grid-template-columns: 1fr;
			grid-template-rows: 66px 1fr;

			.boards-nav {
				transform: translateX(0);
				.nav-content {
					display: block;
				}
			}
		}
	}

	@include for-narrow-layout {
		grid-template-columns: 1fr;
		grid-template-rows: 66px 1fr;

		.main-nav {
			flex-direction: row;

			.nav-btns {
				flex-direction: row;

				> *:not(.logo-svg, .user-img, .nav-menu-btn) {
					display: none;
				}

				.logo-svg {
					width: 55px;
				}

				.nav-menu-btn {
					display: block;
					color: white;
					font-size: 30px;
					padding-top: 9px;
					padding-inline-start: 20px;
				}

				.user-img {
					transform: translate(-8px, 11px);
				}
			}
		}

		.boards-nav {
			position: fixed;
			top: 0;
			left: 0;
			transform: translateX(-100%);

			.board-toggle-container {
				display: none;
			}

			.close-boards-btn {
				display: block;
			}
		}
		.board-header {
			padding-inline-end: rem(32px);
		}

		.board-filter {
			.btn {
				display: none;
			}
		}
	}
}
