.board-group {
	margin-bottom: 2em;
	margin-inline-start: 5px;
	margin-inline-end: 8px;

	.group-title {
		font-size: 1.2857em;
		margin-bottom: 0.3888em;
		line-height: 1.5;
	}

	.group-table {
		border-inline-start: 6px solid lightseagreen;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
	}

	.group-header-row,
	.add-task-line {
		border-top: 1px solid $divider-clr;
		height: 37px;
		color: $text-group-header;

		.task-title {
			justify-content: center;
		}
	}

	.task-row,
	.task-summary {
		grid-template-columns: 360px 1fr;
		border-bottom: 1px solid $divider-clr;
		grid-auto-flow: column;
		height: 37px;

		.task-name,
		.task-data > * {
			display: flex;
			align-items: center;

			&:not(:last-child) {
				border-inline-end: 1px solid $divider-clr;
			}
		}

		.task-name {
			padding-inline-start: 35px;
		}

		.task-data {
			position: relative;
			grid-auto-flow: column;
			grid-auto-columns: 160px;

			> * {
				justify-content: center;
			}

			.long-text {
				display: block;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				padding-inline: 0.5714em;
			}
		}
	}

	.add-task-line {
		grid-template-columns: 300px 1fr;
		padding-inline-start: 35px;
		border-bottom: 1px solid $divider-clr;
		border-top: none;

		.add-task-input {
			@include inlineInput;
			// height: 20px;
		}
	}

	.task-summary {
		margin-inline-start: 6px;
		border-bottom: none;

		.empty-cell {
			border-inline-end: 1px solid $divider-clr;
		}

		.task-data {
			border-bottom: 1px solid $divider-clr;
			border-bottom-left-radius: 6px;
		}
	}
}
