.board-header {
	padding: rem(15px) rem(25px) 0 rem(32px);

	@include for-narrow-layout {
		padding-inline: 12px;
	}

	.board-actions {
		justify-content: space-between;
		align-items: center;

		.title-input {
			flex-grow: 1;
		}

		h1 {
			@include inlineInput(em(32px));
			padding: 0 rem(4px);
		}

		.btns {
			.btn {
				@include mainBtn;
			}

			.last-seen-btn {
				margin-inline-end: 10px;
				@include mainBtn;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.imgs-container {
					margin-inline-start: 5px;
				}
			}

			.member-img {
				@include avatar;
				width: 26px;
				height: 26px;
			}
		}
	}

	.board-vue {
		margin-top: rem(8px);
		align-items: center;
		border-bottom: lightgray 1px solid;
		span {
			color: lightgray;
		}
		.btn-container {
			.btn {
				@include mainBtn;
				font-family: roboto-bold;
				padding: rem(6px) rem(27px) rem(8px) rem(12px);
				margin-bottom: 2px;
				font-weight: 500;
				align-items: center;
				justify-content: center;
				img {
					width: 15px;
					margin-inline-end: rem(6px);
				}
			}

			div {
				height: 2px;
				background-color: $primary-action-clr;
			}
			.el-icon {
				height: 1.5em;
				width: 1.5em;
			}
		}

		.add-vue-btn {
			@include mainBtn;
		}
	}
}
