.board-group {
	margin-bottom: 2em;
	margin-inline-end: 8px;
	position: relative;

	.group-title {
		display: grid;
		grid-template-columns: 32px 35px 500px 1fr;

		@include for-narrow-layout {
			grid-template-columns: 8px 35px 500px 1fr;
		}

		.el-icon {
			padding-top: 14px;
			margin-inline-start: 13px;
		}

		.collapse-group-btn {
			cursor: pointer;
		}

		.group-menu-btn {
			opacity: 0;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 46px;
			height: 36px;
			position: absolute;
			transform: translate(-7px, -1px);

			img {
				width: 20px;
				border-radius: 4px;

				&:hover {
					background-color: #d0d4e4;
				}
			}

			&:hover {
				opacity: 1;
			}

			@include for-narrow-layout {
				display: none;
			}
		}

		.header-wrapper {
			width: 500px;

			h4 {
				@include inlineInput;
				padding: 0 rem(3px);
				font-size: 1.2857em;
				margin-bottom: 0.3888em;
				line-height: 1.5;
			}

			@include for-narrow-layout {
				width: 260px;
			}
		}

		&:hover .group-menu-btn {
			opacity: 1;
		}
	}

	.group-table {
		.empty-left {
			height: 100%;
			background-color: white;
		}

		.side-border {
			height: 100%;
		}
	}

	.group-header-row {
		text-transform: capitalize;
		.task-data {
			border-top: 1px solid $divider-clr;

			> *:hover {
				cursor: grab;
				background-color: $row-hover-clr;
			}

			&.group-collapsed {
				border-bottom: none;
			}

			p:last-child {
				border-inline-end: 1px solid $divider-clr;
			}
		}
	}

	.group-header-row,
	.add-task-line {
		color: $text-group-header;
	}

	.group-header-row,
	.task-summary-row,
	.add-task-line {
		height: 37.98px;
	}

	.task-row,
	.task-summary-row {
		grid-template-columns: 360px 1fr;

		@include for-narrow-layout {
			grid-template-columns: 200px 1fr;
		}

		.task-name,
		.task-data > * {
			display: flex;
			align-items: center;

			&:not(:last-child) {
				border-inline-end: 1px solid $divider-clr;
			}
		}
		.summary-data {
			display: block;
		}

		.task-name {
			display: grid;
			grid-template-columns: 32px 6px 1fr;
			background-color: white;

			@include for-narrow-layout {
				grid-template-columns: 8px 6px 1fr;
			}

			position: sticky;
			left: 0;
			z-index: 10;

			.task-title-wrapper {
				border-bottom: 1px solid $divider-clr;
				height: 100%;
			}

			.task-main-header {
				height: 100%;
				border-block: 1px solid $divider-clr;

				&.group-collapsed {
					font-size: 0;
					border-bottom: none;
				}
			}

			.side-border-top {
				border-top-left-radius: 6px;
			}
		}

		.task-data {
			position: relative;
			border-bottom: 1px solid $divider-clr;
			grid-auto-flow: column;
			grid-auto-columns: 160px;

			@include for-narrow-layout {
				grid-auto-columns: 120px;
			}

			> * {
				justify-content: center;
			}

			.long-text {
				padding-inline: 0.5714em;
			}
		}
	}

	.add-task-line {
		&.group-collapsed {
			display: none;
		}

		grid-template-columns: 338px 1fr;
		border-top: none;

		.add-task-start {
			position: sticky;
			left: 0;
			grid-template-columns: 32px 6px 300px;

			@include for-narrow-layout {
				grid-template-columns: 8px 6px 324px;
			}
		}

		.add-task-input {
			@include inlineInput;
			padding: rem(2px) rem(4px);
			margin-inline-start: 23px;
			width: 320px;

			&:focus {
				width: 320px;
			}
		}

		&:hover {
			background-color: $row-hover-clr;
		}

		.add-task-empty-data,
		.add-task-wrapper {
			height: 100%;
			border-bottom: 1px solid $divider-clr;
		}

		.side-border-bottom {
			height: 100%;
			border-bottom-left-radius: 6px;
		}
	}

	.task-summary-row {
		.empty-cell {
			grid-template-columns: 360px 10px;
			position: sticky;
			left: 0;
			z-index: 10;
			background-color: white;

			&.group-collapsed {
				grid-template-columns: 32px 6px 322px;
				border-inline-end: 1px solid $divider-clr;

				@include for-narrow-layout {
					grid-template-columns: 8px 6px 322px;
				}

				.collapse-border {
					display: block;
					border-bottom: 1px solid $divider-clr;
				}

				.scroll-border {
					background-color: red;
					border: none;
				}
			}

			.scroll-border {
				border-bottom: 1px solid $divider-clr;
				border-inline-start: 1px solid $divider-clr;
				border-bottom-left-radius: 6px;
			}

			.collapse-border {
				display: none;
			}

			@include for-narrow-layout {
				grid-template-columns: 200px 10px;
			}
		}
	}
}

.group-popover {
	color: $text-black;
	.group-popover-line {
		display: flex;
		align-items: center;
		padding: 6px;
		border-radius: 4px;
		cursor: pointer;

		img {
			width: 16px;
			margin-inline-end: 8px;
		}

		&:hover {
			background-color: $button-hover-clr;
		}
	}
}
