.boards-nav {
	z-index: 200;
	padding: rem(14px) rem(14px);
	background-color: #f6f7fb;
	min-height: 100vh;
	border-inline-end: 1px solid #d0d4e4;
	color: $text-black;
	position: relative;
	transition: transform 0.6s;

	.close-boards-btn {
		position: absolute;
		right: 6px;
		top: 8px;
		font-size: 18px;
		display: none;
	}

	.workspace-details {
		flex-direction: column;
		padding-bottom: rem(14px);
		div {
			padding-bottom: rem(9px);
		}

		button {
			padding: rem(8px);
			display: flex;
			justify-content: space-between;
			background-color: #f6f7fb;
			border-radius: $btnRadius;
			border: 1px solid $text-black;
			font-size: rem(14px);
			font-weight: 700;
		}
	}

	.workspace-add {
		flex-direction: column;
		padding-bottom: rem(16px);

		.el-input__wrapper {
			background-color: #f6f7fb;

			&:focus {
				background-color: white;
			}
		}

		// .btn {
		// 	// text-align: start;
		// 	// display: flex;
		// 	// justify-content: left;
		// 	// align-items: center;
		// }
		// .search-btn {
		// 	// @include inlineInput;

		// 	input {
		// 		background-color: #f6f7fb;
		// 		border: none;
		// 		outline: none;
		// 	}
		// }
	}

	.boards-list {
		padding-top: rem(20px);
		border-top: 1px solid #d0d4e4;
		flex-direction: column;

		.btn {
			&.active {
				background-color: rgb(204 229 255);
			}
			// width: 100%;
			// text-align: start;
		}
	}

	img {
		width: 18px;
		filter: invert(16%) sepia(6%) saturate(715%) hue-rotate(193deg)
			brightness(99%) contrast(88%);
	}
	.btn {
		text-align: start;
		display: flex;
		justify-content: left;
		align-items: center;

		@include mainBtn($bgclr: #f6f7fb);
		// border: none;

		padding: rem(5px) rem(5px);
		span {
			margin-inline-start: rem(7px);
		}
	}
}

.board-toggle-container {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 26px;
	height: 26px;
	background-color: white;
	border: 1px solid #d0d4e4;
	border-radius: 20px;
	position: absolute;
	z-index: 200;
	right: -14px;
	transition: 0.3s;

	&:hover {
		background-color: #0172e8;
		width: 36px;

		.toggle-boards-nav {
			filter: $svgWhite;
			margin-inline-end: 10px;
		}
	}

	.toggle-boards-nav {
		height: 18px;
		width: 12px;
	}
}
