.board-filter {
	display: flex;
	justify-content: center;
	align-items: center;
	// width: 100%;

	.search-btn {
		background-color: initial;
		// &:focus {
		// 	background-color: aqua;
		// }
		input {
			border: none;
			outline: none;
			background-color: inherit;

			// &:focus {
			// 	background-color: white;
			// }
		}
		.el-icon {
			margin-right: rem(5px);
		}
	}

	.btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-inline-end: rem(16px);
		@include mainBtn;
		padding: 0.5rem 0.3rem;

		img {
			width: 20px;
		}
	}

	button {
		margin-inline-end: rem(16px);
		display: flex;
		align-items: center;
		@include mainBtn;
		padding: 0;

		img {
			width: 20px;
		}

		.btn1 {
			padding: 0.5rem 0.3rem;
			// padding: 4px 8px;
			border-right: 1px solid white;
		}

		.btn2 {
			// padding: 4px 8px;
		}
	}
}
