.main-nav {
	background-color: #292f4c;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	.logo-svg {
		margin: rem(10px) 0;
	}
	img {
		width: 25px;
		margin-bottom: rem(5px);
		fill: white;
		filter: $svgWhite;

		&:hover {
		}
	}

	.nav-btns {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
}
