.task-preview {
	position: relative;

	.task-menu-btn {
		opacity: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 46px;
		height: 36px;
		position: absolute;
		transform: translate(-8px, -2px);

		img {
			width: 20px;
			border-radius: 4px;

			&:hover {
				background-color: #d0d4e4;
			}
		}

		&:hover {
			opacity: 1;
		}

		@include for-narrow-layout {
			opacity: 1;
		}
	}
	.conversation-img {
		img {
			filter: $svg-grey;

			&:hover {
				filter: $svg-blue;
			}
		}
	}

	&:hover {
		cursor: pointer;
		background-color: $row-hover-clr;
		// box-shadow: 4px 3px 6px -3px $box-shadow-clr;

		.task-menu-btn {
			opacity: 1;
		}

		.task-title-wrapper {
			background-color: $row-hover-clr;
			// box-shadow: 4px 3px 6px -3px $box-shadow-clr;
		}
	}

	.task-name {
		.conversation-img {
			// line-height: 36px;
			height: 100%;
			border-inline-start: 1px solid $divider-clr;
			position: relative;

			img {
				width: 1.71428em;
				margin-inline: 20px;

				@include for-narrow-layout {
					margin-inline: 3px;
				}
			}
		}
	}

	.edit-title {
		flex-grow: 1;
		margin-inline-end: 5px;
		margin-inline-start: 30px;

		.task-title {
			@include inlineInput;
			padding: 2px 4px;
			cursor: text;
			height: auto;
			&:focus {
				background-color: white;
			}
		}

		@include for-narrow-layout {
			margin-inline-start: 5px;
		}
	}
}

.task-popover {
	color: $text-black;
	.task-popover-line {
		display: flex;
		align-items: center;
		padding: 6px;
		border-radius: 4px;
		cursor: pointer;

		img {
			width: 16px;
			margin-inline-end: 8px;
		}

		&:hover {
			background-color: $button-hover-clr;
		}
	}
}
