.task-details-title {
	font-size: em(40px);
}

.task-details-container {
	.el-input {
		margin-bottom: em(30px);
	}

	.no-image-avatar {
		@include avatar;
		@include random-bgc;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		text-align: center;
		margin-inline-end: em(12px);
		p {
			text-transform: capitalize;
		}
	}
}
