.task-preview {
	&:hover {
		cursor: pointer;
		background-color: $row-hover-clr;
		box-shadow: 4px 3px 6px -3px $box-shadow-clr;
	}

	.task-name > * {
		padding-inline-end: 30px;
	}

	.edit-title {
		flex-grow: 1;
		.task-title {
			flex-grow: 1;
			@include inlineInput;
			padding: 2px 4px;
			cursor: text;
			height: auto;
		}
	}
}
