.task-details-title {
	font-size: em(22px);
}

.task-details-container {
	.el-input {
		margin-bottom: em(30px);
	}

	.no-image-avatar {
		@include avatar;
		@include random-bgc;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		text-align: center;
		margin-inline-end: em(12px);
		p {
			text-transform: capitalize;
		}
	}

	.update-editor-placeholder {
		padding: 10px 20px;
		transition: 0.2s;
		border: 1px solid rgb(0, 115, 234);
		border-radius: 8px;
		margin-bottom: 12px;

		&:hover {
			background-color: #dce0ec;
		}
	}

	.editor-container {
		margin-bottom: em(20px);

		.tox {
			margin-bottom: em(8px);
		}

		.tox-statusbar {
			display: none;
		}

		.add-comment-btn {
			align-self: flex-end;
		}
	}
}
