.task-preview {
	position: relative;

	.task-menu-btn {
		display: none;
		width: 20px;
		position: absolute;
		transform: translate(-36px, 7px);
	}

	&:hover {
		cursor: pointer;
		background-color: $row-hover-clr;
		box-shadow: 4px 3px 6px -3px $box-shadow-clr;

		.task-menu-btn {
			display: block;
		}
	}

	.task-name {
		.conversation-img {
			line-height: 36px;
			border-inline-start: 1px solid $divider-clr;
			position: relative;
		}

		img {
			position: relative;
			top: 0;
			transform: translateY(30%);
			width: 1.71428em;
			margin-inline: 20px;
		}
	}

	.edit-title {
		flex-grow: 1;
		.task-title {
			flex-grow: 1;
			@include inlineInput;
			padding: 2px 4px;
			cursor: text;
			height: auto;
			&:focus {
				background-color: white;
			}
		}
	}
}
