.boards-nav {
	padding: rem(12px) rem(16px);
	background-color: #f6f7fb;
	height: 98.5vh;
	border-inline-end: 1px solid #d0d4e4;
	color: $text-black;

	.workspace-details {
		flex-direction: column;
		padding-bottom: rem(14px);
		div {
			padding-bottom: rem(5px);
		}

		button {
			padding: rem(5px);
			display: flex;
			justify-content: space-between;
			background-color: #f6f7fb;
			border-radius: $btnRadius;
			border: 1px solid $text-black;
			font-size: rem(14px);
			font-weight: 700;
			// margin-bottom: ;
		}
	}
	.boards-list {
		padding-top: rem(14px);
		border-top: 1px solid rgb(145, 143, 143);

		display: flex;
		align-items: center;
		flex-direction: column;

		.btn {
			@include mainBtn($bgclr: #f6f7fb);
			width: 100%;
			text-align: start;
		}
	}
}
