.app-container {
	// overflow: hidden;
	// overflow-x: hidden;
	.main-actions-container {
		justify-content: flex-start;
		align-items: center;
		padding: rem(12px) 0;
		padding-inline-start: rem(30px);
		margin-bottom: rem(20px);
		.add-btns {
			display: flex;
			margin-inline-end: rem(16px);
			.add-task-btn {
				@include addBtn;
			}

			.btn1 {
				padding: rem(7px);
				border-start-start-radius: $btnRadius;
				border-bottom-left-radius: $btnRadius;
				border-right: 1px solid rgb(0, 96, 185);
				padding-inline-end: rem(6px);
				margin-inline-start: rem(4px);
			}

			.btn2 {
				padding: rem(3px);
				border-end-end-radius: $btnRadius;
				border-top-right-radius: $btnRadius;

				img {
					filter: $svgWhite;
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	.board-container {
		padding: 0;
		// overflow: scroll;
		// overflow-y: auto;
		// max-height: 98vh;

		// max-width: 80vw;
		// overflow: auto;

		// min-width: 50vw;
		// overflow: auto;
		// overflow-x: auto;
		// overflow-x: visible;

		// overflow-y: auto;
		// max-height: 75vh;
		// overflow-x: auto;
		// max-width: fit-content;
	}
}
