.app-container {
	.main-actions-container {
		justify-content: flex-start;
		align-items: center;
		padding: rem(14px) 0;
		margin-bottom: rem(20px);
		.add-btns {
			margin-inline-end: rem(16px);
			.add-task-btn {
				@include addBtn;
			}

			.btn1,
			.btn2 {
				padding: rem(6px);
				padding-inline-end: rem(9px);
			}

			.btn1 {
				border-start-start-radius: $btnRadius;
				border-bottom-left-radius: $btnRadius;
				border-right: 1px solid rgb(0, 96, 185);
				margin-inline-start: rem(4px);
			}

			.btn2 {
				border-end-end-radius: $btnRadius;
				border-top-right-radius: $btnRadius;
			}
		}
	}

	.board-container {
		// overflow: auto;
		overflow-x: scroll;
	}
}
