.app-container {
	// overflow: hidden;
	.main-actions-container {
		justify-content: flex-start;
		align-items: center;
		padding: rem(12px) 0;
		padding-inline-start: rem(32px);
		margin-bottom: rem(20px);

		@include for-narrow-layout {
			padding-inline-start: rem(6px);
		}
		.add-btns {
			display: flex;
			margin-inline-end: rem(16px);
			.add-task-btn {
				@include addBtn;
			}

			.btn1 {
				padding: rem(7px);
				border-start-start-radius: $btnRadius;
				border-bottom-left-radius: $btnRadius;
				border-right: 1px solid rgb(0, 96, 185);
				padding-inline-end: rem(6px);
				margin-inline-start: rem(4px);
			}

			.btn2 {
				// padding: rem(3px);
				border-end-end-radius: $btnRadius;
				border-top-right-radius: $btnRadius;

				img {
					filter: $svgWhite;
					width: 20px;
					height: 20px;
					transform: translateY(2.5px);
				}
			}
		}
	}

	.board-container {
		height: 100vh;
		width: 100%;

		padding: 0;
		overflow: auto;
		position: relative;
		// contain: layout;

		.groups-container {
			.addBtn {
				margin-inline-start: 32px;
				position: sticky;
				left: 32px;
			}
		}

		@include for-narrow-layout {
			height: auto;
		}
	}
}

.add-group-popover {
	color: $text-black;
	.add-group-popover-line {
		display: flex;
		align-items: center;
		padding: 6px;
		border-radius: 4px;
		cursor: pointer;

		.new-group-upper::before {
			content: '\f44f';
			font-family: monday-icons;
			margin-inline-end: 9px;
		}

		&:hover {
			background-color: $button-hover-clr;
		}
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(255 255 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(178 178 178);
}
